<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../layout/head.ejs') %>
</head>

<body>
    <header>
        <%- include ('../layout/header.ejs') %>
    </header>
    <main>
        <h2>Hello World</h2>
        <% data.forEach(val =>{ %>
        <div>
            <img src="<%= val.image %>">
            <h2><%= val.title %></h2>
            <ul>
                <%val.authors.forEach(value =>{%>
                <li><%= value %></li>
                <%});%>
            </ul>
            <p><%= val.description %></p>
            <button><a href="/details/<%=val.id%>"> detials</a></button>
        </div>
        <% });%>

    </main>
    <footer>
        
    </footer>
</body>

</html>